#cloud {
    background-color: lightskyblue;
}
#sun {
    background-color: yellow;
}
#wood {
    background-color: chocolate;
}
#cloth {
    background-color: red;
}
#cloth2 {
    background-color: blue;
}
#cloth3 {
    background-color: yellow;
}
#skin {
    background-color: #ffc966;
}
#hair {
    background-color: darkred;
}
#black {
    background-color: black;
}
#shoes {
    background-color: brown;
}
#grass {
    background-color: green;
}